@use './variables/Colors.scss' as *;
@use './components/Timer.scss' as *;
@use './components/TimeBlockLengthSetter.scss' as *;
@use './components/ProgressBar.scss' as *;
@use './components/Controls.scss' as *;

html {
    box-sizing: border-box;
    font-size: 100%;
}
  
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
  
body {
    height: 100vh;
    width: 100vw;
    color: $darkest-blue;
    background: $bright-green;
    background: radial-gradient(circle, $bright-green 0%, $lighter-green 95%);
    font-family: 'Ubuntu', sans-serif;
}