$darkest-blue: #132126;
$bright-green: #02894B;
$lighter-green: #05ab5f;
$darker-green: #016336;
$lightest-beige: #E2DCD6;
$light-beige: #ccc5be;
$warm-gray: #595959;
$tomato-red: #EF3340;
$sky-blue: #31a5d6;
$lighter-sky-blue: #44b4e3;
$darker-sky-blue: #1a80ab;